<form action="" class="form">
  <div class="form-div">
    <label for="name" class="form-label">Name:</label>
    <input type="text" placeholder="please insert your name" id ="name">
  </div>

  <div class="form-div">
    <label for="phone" class="form-label">Phone:</label>
    <input type="text" placeholder="insert your phone" id ='phone'>
  </div>

  <div class="form-div">
    <label for="email" class="form-label">E-mail:</label>
    <input type="text" placeholder="insert your E-mail" id='email'>
  </div>

  <div class="form-div">
    <label for="login" class="form-label">Login:</label>
    <input type="text" placeholder="insert your Login" id='login'>
  </div>

  <div class="form-div">
    <label for="birth" class="form-label">Date Of Birth:</label>
    <input type="text" placeholder="insert your Date Of Birth" id="birth">
  </div>

  <div class="form-div">
    <label for="password" class="form-label">Password:</label>
    <input type="text" placeholder="Insira o seu Password" id="password">
  </div>

  <div class="form-div">
    <label for="document" class="form-label">Document:</label>
    <input type="text" placeholder="Insira o seu Document" id="document">
  </div>
  
</form>
<div class="form-div-button">
  <button  class="button-5 form-button" id="save" >Save changes</button>
  <button class="button-5 form-button" id = "reset">Cancel</button>
</div>
