*{
    margin: 0;
}

.form{
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 0.5em;
    width: 30%;
    margin: auto;
}
.form-field-container{
    display: flex;
    flex-direction: column;
    width: auto;
}

.form-field{
    display: grid;
    grid-template-columns: 18%;
    grid-row: auto;
    grid-template-areas: 'label input';
}

.form-label{
    display: flex;
    align-items: center;
    justify-content: start;
}

.form-input{
    display: flex;
    justify-content: end;
    width: 100%;
    border-radius: 0.5em;
}

.alert > span{
    color: lightcoral;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0.5em;
}

.form-button{
    width: 8em !important; 
    height: 2.2em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.form-field-button{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.invisible{
    visibility:hidden;
}