<form action="" class="form">
  <div class="form-div">
    <label for="" class="form-label">Name:</label>
    <input type="text" placeholder="please insert your name">
  </div>

  <div class="form-div">
    <label for="" class="form-label">Phone:</label>
    <input type="text" placeholder="insert your phone">
  </div>

  <div class="form-div">
    <label for="" class="form-label">E-mail:</label>
    <input type="text" placeholder="insert your E-mail">
  </div>

  <div class="form-div">
    <label for="" class="form-label">Login:</label>
    <input type="text" placeholder="insert your Login">
  </div>

  <div class="form-div">
    <label for="" class="form-label">Date Of Birth:</label>
    <input type="text" placeholder="insert your Date Of Birth">
  </div>

  <div class="form-div">
    <label for="" class="form-label">Password:</label>
    <input type="text" placeholder="Insira o seu Password">
  </div>

  <div class="form-div">
    <label for="" class="form-label">Document:</label>
    <input type="text" placeholder="Insira o seu Document">
  </div>
  <div class="form-div-button">
    <button type="submit" class="button-5 form-button">Save changes</button>
    <button type="submit" class="button-5 form-button">Cancel</button>
  </div>
</form>