<form action="" class="form">
  <div>
    <label for="" class="form-label">Name:</label>
    <input type="text" placeholder="please insert your name">
  </div>

  <div>
    <label for="" class="form-label">Phone:</label>
    <input type="text" placeholder="insert your phone">
  </div>

  <div>
    <label for="" class="form-label">E-mail:</label>
    <input type="text" placeholder="insert your E-mail">
  </div>

  <div>
    <label for="" class="form-label">Login:</label>
    <input type="text" placeholder="insert your Login">
  </div>

  <div>
    <label for="" class="form-label">Date Of Birth:</label>
    <input type="text" placeholder="insert your Date Of Birth">
  </div>

  <div>
    <label for="" class="form-label">Password:</label>
    <input type="text" placeholder="Insira o seu Password">
  </div>

  <div>
    <label for="" class="form-label">Document:</label>
    <input type="text" placeholder="Insira o seu Document">
  </div>

  <button type="submit" class="form-button">Try</button>
</form>