.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
}

*{
    margin: 0;
}

.form-div{
    display:  flex;
    justify-content: space-between;
    gap: 1em;
    align-content: center;
    width: 30%;
}

.form input{
    display: flex;
    justify-content: end;
    width: 32em;
    border-radius: 10px;
}

.form-label{
    justify-content: start;
    align-items: center;
    display: flex;
}

.form-button{
    width: 8em !important; 
    height: 2.2em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.form-div-button{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.invisible{
    visibility:hidden;
}