.username {
    grid-area: username;
    font-size: .8em;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.password {
    grid-area: password;
    font-size: 1.4em;
    align-self: center;
    justify-self: center;
}

.logo {  
    justify-content: center;
    grid-area: logo;
    display: flex;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4em;
    border: .4em solid var(--Cor1);
}

.login-button{
    grid-area: login;
    align-self: center;
    justify-self: center;

}

.card {
    margin: auto auto;
    margin-top: 2em;
    grid-gap: 1em;
    padding: 0em 1em;
    display: grid;
    width: 40em;
    height: 45em;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 5px black;
   
    grid-template-columns: auto;
    grid-template-rows: 55% 10% 15%;
    grid-template-areas:
        "logo"
        "username"
        "password"
        "login";
}