/* Top Bar */

.navbar {
    margin: auto auto;
    margin-top: 15px;
    width: 85%;
    height: 68px;
    background-color: var(--Cor2);
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 30px;
}

.navbar h1 {
    color: white;
    margin: 0;
}



