<div class="productsList" *ngIf="products">
  <div class="productComponent" *ngFor="let product of products" >

    <div class="item-d" >
      <img src={{product.image}}>
    </div>

    <div class="item-a">
          <a [title]="product.name"
          [routerLink]="['/product',product.id]">
              {{product.name}}
          </a>
    </div>

    <div class = "item-c">
      $ {{product.unit_price}}
    </div>

    <div class = "item-b">
      {{product.description}}
    </div>


  </div>
</div>

<button class="button-5" role="button"><a [routerLink]="['client/login']"> login </a> </button>


