.productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
    justify-content: center;
    align-items: center;
}

.item-a {
    grid-area: ProductName;
    font-size: 1.4em;
    align-self: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-b {
    grid-area: ProductDescription;
    font-size: .8em;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.item-c {
    grid-area: ProductPrice;
    font-size: 1.4em;
    align-self: center;
    justify-self: center;
}

.item-d {  
    justify-content: center;
    grid-area: ProductPicture;
    display: flex;
}

.item-d img {
    max-width: 100%;
    max-height: 100%;
}

.productComponent {
    grid-gap: 1em;
    padding: 0em 1em;
    display: grid;
    width: 18.3em;
    height: 28em;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 5px black;
    


    grid-template-columns: auto;
    grid-template-rows: 55% 10% 15%;
    grid-template-areas:
        "ProductPicture"
        "ProductName"
        "ProductDescription"
        "ProductPrice";
}