

<div class="productsList" *ngIf="products">
    <div class="productComponent" *ngFor="let product of products" >

      <div class="productComponent-imgtitle" >
        <img src={{product.image}}>
        <h3>
            <a [title]="product.name + 'details'"
            [routerLink]="['/product',product.id]">
                {{product.name}}
            </a>
        </h3>
      </div>
        <h2>
            <p class="productComponent-price">${{product.unit_price}}</p>
        </h2>
          <div class="productComponent-description-container ">
            {{product.description}}
          </div>
    </div>
</div>
